.sb-soundplayer-progress-container {
  background-color: var(--bg-light);
  width: 95%;
  margin: 0 auto;
  height: 20px;
  margin-top: 8px;
  overflow: hidden;
  cursor: pointer;
}

.sb-soundplayer-progress-inner {
  background-color: var(--crab);
  height: 100%;
}
