.sb-soundplayer-volume {
  position: relative;
}

.sb-soundplayer-volume div {
  overflow: visible;
  width:auto;
  margin-top: 0.4rem;
  -webkit-transition: width .2s ease-out;
  transition: width .2s ease-out;
  position: relative;
}

.sb-soundplayer-volume-range {
  -webkit-appearance: none;
  width: 98%;
}

.sb-soundplayer-volume-range:focus {
  outline: none;
}

/* track */
.sb-soundplayer-volume-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.2em;
  cursor: pointer;
  animate: 0.2s;
  background: #DDD;
  border-radius: 1.3px;
}

.sb-soundplayer-volume-range::-moz-range-track {
  width: 100%;
  height: 0.2em;
  cursor: pointer;
  animate: 0.2s;
  background: #DDD;
  border-radius: 1.3px;
}

.sb-soundplayer-volume-range::-ms-track {
  width: 100%;
  height: 0.2em;
  cursor: pointer;
  animate: 0.2s;
  background: #DDD;
  border-radius: 1.3px;
}

/* thumb dial */

.sb-soundplayer-volume-range {
  transition: 0.4s transform cubic-bezier(0.23, 1, 0.320, 1)
}

.sb-soundplayer-volume-range::-webkit-slider-thumb:hover {
  transform: scale(1.3)
}

.sb-soundplayer-volume-range::-moz-range-thumb {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: var(--pale-coral);
  transition: 0.4s transform cubic-bezier(0.23, 1, 0.320, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.45em;
}

.sb-soundplayer-volume-range::-webkit-slider-thumb {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: var(--pale-coral);
  transition: 0.4s transform cubic-bezier(0.23, 1, 0.320, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.45em;
}

.sb-soundplayer-volume-range::-ms-thumb {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: var(--pale-coral);
  transition: 0.4s transform cubic-bezier(0.23, 1, 0.320, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.45em;
}

/* progress fill */
.sb-soundplayer-volume-range::-ms-fill-lower {
  background: var(--pale-coral);
}
