.playlist {
  margin-top: 1rem;
}

.playlist .track-item {
  background-color: transparent;
}

.playlist .track-title {
  font-weight: 300;
  font-size: 1rem;
  color: #222;
}

.playlist .track-time {
  font-weight: 200;
  font-size: 1rem;
  color: #555;
}

.playlist .playlist-item:hover {
  background-color: 'rgba(0,0,0,0.1)';
}

.playlist-item {
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-bottom: 3px solid #ececec;
  cursor: pointer;
}

.playlist-item:hover {
  transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  background-color: #f1efee;
  border-bottom: 3px solid #e4e0e0;
}

.playlist-item:hover .track-title {
  color: #000;
}


body .playlist-item.is-active {
  background-color: var(--juicy-yellow);
  border-bottom: 3px solid  #FADC6D;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.playlist-item.is-active .track-title {
  color: #000;
}

.playlist .track-time {
  font-weight: 200;
  font-size: 1rem;
  color: #111;
}