/* @import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i'); */
@import url('https://fonts.googleapis.com/css?family=Lato:200,300,300i,400,400i,700,700i');
@import url("https://unpkg.com/basscss@8.0.2/css/basscss.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

.root {
  width: 1100px;
  margin: 0rem auto;
}

html {
  font-size: 16px;
}

body * {
  font-family: 'Roboto', sans-serif;
}

:root {
  --font-family: 'Noto Sans HK', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --container-width: 820px;
  --yellow: rgba(255, 220, 0, 0.45);
  --light-green: rgb(101, 180, 91);
  --coral: #F65454;
  --pale-coral: #F97272;
  --pale-yellow: #FADC6D;
  --juicy-yellow: #F6EC66;
  --pale-blue: rgb(80, 127, 168);
  --sunset: #C06C84;
  --pale-orange: #F8B195;
  --dark-purple: rgb(123, 108, 133);
  --pale-purple: #C06C84;
  --crab: #F67280;
  --pale-crab: #F8B195;
  --bg-light: #f0ebe9;
  --bg-medium: #dfdbd9;
  --bg-very-light: #ececec;
  --button-line-height: 1;
  --sb-progress-height: 8px;
  --button-big-padding-x: 1.25rem;
  --button-big-padding-y: 1.25rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bbb;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #bbb;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #bbb;
}
